.deleteConfirmation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.959);
    background-image: url('../assets/image/psicko.jpeg');
    background-size: cover;
    padding: 20px;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.deleteConfirmation h2 {
    font-size: 40px;

}

.deleteConfirmation input[type="text"] {
    display: block;
    width: 50%;
    margin: 10px 0;
    padding: 10px;
}

.deleteConfirmation button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.deleteConfirmation button:first-of-type {
    background-color: #482a1f;
    color: white;
}

.deleteConfirmation button:last-of-type {
    background-color: #f3f3f3;
}