/* Estilo del encabezado */
/* header {
  background-color: #c84848;
  padding: 10px;
}

header h1 {
  color: #b22d2d;
} */


h1 {
  padding: 60px;
  text-align: center;
  /*background-image: url(assets/imagen/banner_maquina_escribir.jpeg);
  background-color: rgb(0, 0, 1, 0.3); */
  border-radius: 10px;
  margin: 25px;
  font-family: "Antic", sans-serif;
  font-size: 50px;
}

/* Establecer estilos básicos de la página */
#banner {
  text-align: center;
  margin-bottom: 0;
  position: relative;

}
#banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 768px) {
  /* Cambia la imagen para pantallas más grandes */
  #banner img {
    background-image: url('/src/assets/imagen/banner_large.jpg');
  }
}
@media (max-width: 767px) {
  /* Cambia la imagen para pantallas más pequeñas */
  #banner img {
    background-image: url('/src/assets/imagen/banner_small.jpg');
  }
}

#banner h1{
  font-size: 80px;
  position: absolute;
  top: 0;
  transform: translateX(50%);  
}

body {
  background-image: url('/src/assets/imagen/fondo-papel-vintage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#cuerpo {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(assets/imagen/fondo-papel-grunge-vintage.jpg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilo para todos los enlaces en el nav */

nav {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: #7d6557;
  text-align: center;
}

nav a {
  /*border: 1px solid #76453b; Borde alrededor de cada NavLink */
  padding: 8px 15px; /* Ajusta el relleno según tus preferencias */
  color: black;
  /*border: 1px solid #333;  Borde alrededor de cada NavLink */
  padding: 14px 20px; /* Ajusta el relleno según tus preferencias */
  color: #333;
  text-align: center;
  text-decoration: none;
  border-radius: 5px; /* Añade esquinas redondeadas */
}

nav a:hover {
  background-color: #201108;
  color: rgb(228, 171, 124);
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: -500px;
}

.search-container input {
  flex: 1;
  width: 400px;
  background-color: #f7e6c4;
  padding: 5px;
  margin-right: 5px;
}

button {
  background-color: #f7e6c4;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;

  background-color: #f0f0f0;
}

.nav-link {
  color: black;
  text-decoration: none;
  margin-right: 10px;
  transition: color 0.3s;
}

.styles.right-links {
  display: flex;
  align-items: center;
  font-family: "Noticia", sans-serif;
}
.styles.right-links .nav-link:hover {
  color: rgb(250, 248, 248);
  background-color: rgb(61, 33, 15);
}
.styles.left-links.nav-link:hover {
}

.right-links .nav-link:hover {
  color: rgb(250, 248, 248);
  background-color: rgb(61, 33, 15);
}

.styles.left-links {
  display: flex;
  align-items: center;
  font-family: "negrita", sans-serif;
}

.hidden {
  display: none;
}

/* Estilo específico para la barra de búsqueda */
.search-bar {
  display: flex;
  align-items: center;
}

/* Estilo para el ícono de lupa */
.search-bar i {
  margin-right: 5px;
}

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
}


.bienvenido {
  font-size: 12px;
}

.cerrarsesion {

}