/* ***************** */
/*      BANNER       */
/* ***************** */
/*Titulo El Noticion*/
h2 {
  font-family: "Antic", sans-serif;
  font-size: 100px;
}

header {
  text-align: center;
  background-image: url("../src/assets/image/pila-periodicos.jpg");
  height: 10rem;
  background-size: cover;
  background-position: center;
}
header div {
  padding: 50px;
  max-width: 100rem;
  margin: 0 auto;
  font-weight: 500;
  line-height: 1.2;
}
header h3 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.navLink:not(:last-child) {
  margin-right: 10px;
}

nav,
.navBar {
  font-family: "antic";
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 5px;
  background-color: #7d6557;
}

nav a,
.navLink {
  display: inline-block;
  color: #fcd0b7;
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid #fcd0b7;
}

nav a:hover,
.navLink:hover {
  background-color: #3c2f27;
  color: #ccbdb5;
}

button {
  border-radius: 5px;
}

.boligrafo {
  margin-right: 10px;
  border: none;
  /* font-size: 1.5em; para el boli */
  font-size: 1.2em; /*para el periodico*/
}

#bienvenido {
  font-family: "cursiva";
  font-size: 18px;
  margin-right: 50px;
  color: #fcd0b7;
}

.searchContainer .user-text-container {
  display: flex;
  align-items: center;
  margin: 0;
  flex: 1;
}

.searchContainer input {
  flex: 1;
  background-color: #f7e6c4;
  padding: 6px;
  margin-right: -40px;
  width: 300px;
  border-radius: 5px; /* Ajusta el borde del input */
  border: 1px solid #ccc; /* Agrega un borde al input */
}

.searchContainer button {
  margin-right: 5px;
}

@media only screen and (max-width: 700px) {
  header {
    height: 10rem; /*ajusta altura*/
  }

  header div {
    padding: 20px;
  }
  header h3 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px; /* Ajusta fuente en móviles */
  }

  .navBar,
  .searchContainer {
    flex-direction: column;
    text-align: center;
  }

  @media only screen and (max-width: 430px) {
    h2 {
      font-size: 60px;
    }
  }

  .navLink {
    width: 100%; /* Ocupa todo el ancho disponible */
    text-align: center; /* Centra el texto */
  }
  .searchContainer,
  button,
  .rightLinks {
    width: 100%;
    text-align: center; /* Centra el texto */
  }

  /* Estilo adicional para los botones */
  button {
    width: 100%; /* Los botones ocupan todo el ancho disponible */
  }
}

@media only screen and (max-width: 430px) {
  h2 {
    font-size: 60px;
  }
}
