/* Estilo del encabezado */
/* header {
  background-color: #c84848;
  padding: 10px;
}

header h1 {
  color: #b22d2d;
} */

/* Agregar estilos adicionales según sea necesario */

/* Estilo para todos los enhlaces en el nav */

header h1 {
  padding: 60px;
  text-align: center;
}

header div {
  background-color: rgba(0, 0, 0, 0.7);
}

nav {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: #7d6557;
  text-align: center;
}

nav a {
  /*border: 1px solid #76453b; Borde alrededor de cada NavLink */
  padding: 8px 15px; /* Ajusta el relleno según tus preferencias */
  color: black;
  /*border: 1px solid #333;  Borde alrededor de cada NavLink */
  padding: 14px 20px; /* Ajusta el relleno según tus preferencias */
  color: #333;
  text-align: center;
  text-decoration: none;
  border-radius: 5px; /* Añade esquinas redondeadas */
}

nav a:hover {
  background-color: #201108;
  color: rgb(228, 171, 124);
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: -500px;
}

.search-container input {
  flex: 1;
  width: 400px;
  background-color: #f7e6c4;
  padding: 5px;
  margin-right: 5px;
}

button {
  background-color: #f7e6c4;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;

  background-color: #f0f0f0;
}

.nav-link {
  color: black;
  text-decoration: none;
  margin-right: 10px;
  transition: color 0.3s;
}

.styles.right-links {
  display: flex;
  align-items: center;
  font-family: "Noticia", sans-serif;
}
.styles.right-links .nav-link:hover {
  color: rgb(250, 248, 248);
  background-color: rgb(61, 33, 15);
}
.styles.left-links.nav-link:hover {
}

.right-links .nav-link:hover {
  color: rgb(250, 248, 248);
  background-color: rgb(61, 33, 15);
}

.styles.left-links {
  display: flex;
  align-items: center;
  font-family: "negrita", sans-serif;
}

.hidden {
  display: none;
}

/* Estilo específico para la barra de búsqueda */
.search-bar {
  display: flex;
  align-items: center;
}

/* Estilo para el ícono de lupa */
.search-bar i {
  margin-right: 5px;
}

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
}
