.titulo-login{
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  font-family: "Noticia", sans-serif;
}

.form-login {
  
  margin-left: 20px;
  margin: 50px auto; 
  padding: 20px;
  background-color: aqua;
  /* background-image: url("../assets/image/pergaminos.jpg");  */
  border: 1px solid #ccc; 
  border-radius: 8px;
  font-family: 'negrita', sans-serif; 
  font-size: 20px;
  width: 400px;
}

.recuadro {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 8px;
  width: auto;
}

.contenedor-bot-ini {
  justify-content: center;
  align-items: center;
  display: flex;
}

.contenedor-bot-ini button {
  font-family:"Antic", sans-serif;
  font-weight: bold;
  text-align: center;
  width: auto;
  padding: 10px;
  margin: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 8px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  
}

.recup-contra, .regis {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.recup-contra a, .regis a {
  color: black;
  font-family: "negrita", sans-serif;
  text-decoration: none;
}

.recup-contra a:hover, .regis a:hover {
  text-decoration: underline;
}


