/* LoginCard.css */
.login-card {
  max-width: 400px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-image: url(/src/assets/image/papel-arrugado-blanco-peq.jpg);
  position: absolute;
  top: 75%;
  left: 85%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 100%;
  font-family: "cursiva", sans-serif;
}


.close-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.Titulo{
  text-align: center;
  padding-bottom: 10px;
}

.recuadro {
  padding: 0px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 3px;
  width: 100%;
}

 .bot-ini {
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 20vh;
  padding: 2px;
  transition: background-color 0.3s, color 0.3s;
  font-family:"noticia";
  
}

.bot-ini:hover {
 border-color: black;
}


.recup-contra {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.recup-contra a {
  color: black;
  font-family: "negrita", sans-serif;
  text-decoration: none;
}

.recup-contra a:hover {
  text-decoration: underline;
}


.regis {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  font-family: "Noticia", sans-serif;
}

.regis a {
  color: black;
  font-family: "negrita", sans-serif;
  text-decoration: none;
}

.regis a:hover {
  text-decoration: underline;
}


