.iconoMas {
  position: relative;
}

.iconoMas:hover {

  background-color: rgba(139, 129, 113, 0.5);
}

.iconoMas img {
  width: 50px;
  /* Ajusta el tamaño del icono según tus necesidades */
  padding-top: 20px;
}

/* Oculta el texto del label */
.iconoMas::after {
  content: "Agregar Fotos";
  position: absolute;
  bottom: -20px;
  left: 50%;
  padding: 5px;
  display: none;
  top: 0;
  left: 0;
  width: 20%;
  height: 20%;
  pointer-events: none;
  z-index: 1;
  background-color: rgba(204, 201, 201, 0.7);
  /* Color de fondo del mensaje */
}

.iconoMas:hover::after {
  display: block;
}

.iconoMas input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.inputfoto input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.edit-message {
  text-align: center;
  color: rgb(181, 90, 26);
}

.previewPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: auto;
  flex-direction: row;
  margin-left: 80px;
  padding-top: 10px;
}

.previewPhotocontainer img {
  margin-right: 10px;
  background-color: coral;
  width: 200px;
  height: 200px;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}

.DeleteCube {
  display: flex;
  flex-direction: row;
}

.titulo-nueva-noticia,
.editar-noticia {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  font-family: "Noticia", sans-serif;
}

.form-news {
  max-width: 800px;
  margin-left: 20px;
  margin: 50px auto;
  padding: 20px;
  background-image: url("../assets/image/hoja-libretaa.jpg");
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: "negrita", sans-serif;
  font-size: 20px;
}

.form-news label {
  padding: 10px;
  margin-left: 85px;
  display: block;
  margin-bottom: 8px;
}

.desplegable {
  font-family: "negrita", sans-serif;
  margin-left: 85px;
  width: calc(90% - 10px);
  height: 45px;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 7px;
  background-color: transparent;
}

.titular {
  font-family: "Noticia", sans-serif;
  margin-left: 85px;
  width: calc(90% - 10px);
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 8px;
  background-color: transparent;
  display: block;
  text-align: left;
  white-space: normal;
  overflow-wrap: break-word;
  resize: none;
  border: 1px solid;
}

.entradilla {
  font-family: "Noticia", sans-serif;
  margin-left: 85px;
  height: 60px;
  width: calc(90% - 10px);
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 8px;
  background-color: transparent;
  display: block;
  text-align: left;
  white-space: normal;
  overflow-wrap: break-word;
  resize: none;
  border: 1px solid;
}

.contenido {
  font-family: "Noticia", sans-serif;
  margin-left: 85px;
  height: 150px;
  width: calc(90% - 10px);
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 8px;
  background-color: transparent;
  display: block;
  text-align: left;
  word-wrap: break-word;
  resize: none;
  border: 1px solid;
}

.foto-nueva-noticia {
  margin-left: 85px;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 14px;
}

.bot-contenedor {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 85px;
}

.bot-contenedor button {
  font-family: "Antic", sans-serif;
  font-weight: bold;
  text-align: center;
  width: auto;
  padding: 10px;
  margin: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 8px;
  background-color: #efeeee;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* el hover del los botones esta en NewsDetail.css como "boton:hover" */