.titulo-editar-usuario {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  font-family: "Noticia", sans-serif;
}
.photoDetail {
  padding-bottom: 40px;
  margin: 10px;
  width: 100%;
  height: 600px;
  align-items: center;
  display: flex;
  justify-items: center;
  flex-direction: column;
  object-fit: cover;
  margin-bottom: 5px;
}
.photoDetail img {
  max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
  max-height: 100%; /* Ajusta la altura máxima de la imagen */
  object-fit: contain; /* Mantiene la relación de aspecto de la imagen */
}
.news-detail {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  /* background-color: darkgoldenrod; */
  background-image: url("../assets/image/hoja-libreta.jpg");
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: "negrita", sans-serif;
  font-size: 20px;
}

.news-detail label {
  padding: 10px;
  /* margin-left: 85px; */
  display: block;
  margin-bottom: 8px;
}

.titulo-noticia {
  font-family: "Noticia", sans-serif;
  text-align: center;
  font-size: xx-large;
}

.foto {
  display: flex;
  padding-bottom: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.cat-noti {
  margin: 20px;
  font-family: "Antic", sans-serif;
  font-style: italic;
  font-size: 18px;
}

.headline {
  font-family: "Noticia", sans-serif;
  text-align: center;
  padding-bottom: 40px;
  font-size: 36px;
}

.entradillaN {
  padding-bottom: 20px;
  margin: 20px;
  font-family: "cursiva", sans-serif;
  text-align: justify;
  font-size: 22px;
}
.entradillaN {
  padding-bottom: 20px;
  margin: 20px;
  font-family: "cursiva", sans-serif;
  text-align: justify;
  font-size: 22px;
  overflow-wrap: break-word;
}

.contenidoN::first-letter {
  text-transform: uppercase;
  overflow-wrap: break-word;
}
.contenidoN::first-letter {
  text-transform: uppercase;
  overflow-wrap: break-word;
}

.contenidoN {
  text-indent: 20px;
  padding-bottom: 20px;
  margin: 20px;
  font-family: "Noticia", sans-serif;
  text-align: justify;
  font-size: 18px;
  overflow-wrap: break-word;
  /* column-count: 2;
column-gap: 60px; */
}

.creado {
  font-family: "cursiva", sans-serif;
  font-size: 14px;
  margin: 20px;
}

.bot-contenedorN,
.bot-contenedor-estas {
  justify-content: center;
  align-items: center;
  display: flex;
}

.estas-seguro {
  font-family: "Antic", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  padding-top: 30px;
}

.bot-contenedorN button,
.bot-contenedor-estas button {
  font-family: "Antic", sans-serif;
  font-weight: bold;
  text-align: center;
  width: auto;
  padding: 10px;
  margin: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 8px;
  background-color: #efeeee;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton:hover {
  border-width: 3px;
}
.boton:hover {
  border-width: 3px;
}

.bot-contenedor-estas {
  /* background-color: aqua; */
  justify-content: center;
  align-items: center;
  display: flex;
}

.bot-contenedor-estas {
  /* background-color: aqua; */
  justify-content: center;
  align-items: center;
  display: flex;
}
