@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Estilo general */
cuerpo {
  color: #ce1763;
}

.entrances {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  justify-content: space-between;
  width: calc(55.33% - 20px);
  text-align: justify;
}

.entranceCard {
  width: calc(33.33% - 20px);
  max-width: 300px;
  height: 300px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  background-color: rgba(104, 78, 49, 0.5);
  background-image: url(../assets/image/prueba.jpg);
  background-size: cover;
  background-position: center;
  transform: rotate(var(--rotation, 0deg));
}

.entranceCard p {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.eentranceCard::before {
  padding-top: 10px;
  content: url("./assets/image/prueba.jpg");
  display: block; /* Cambia el comportamiento predeterminado de ::before para que se muestre como un bloque */
  width: 100px; /* Ancho de la imagen */
  height: 100px; /* Alto de la imagen */
  margin: 10px; /* Centra la imagen horizontalmente*/
}

/* Estilos para las categorías */
.categoryEntrance {
  font-weight: bold;
  color: #333;
  font-size: 1.2em;
}

/* Estilos para los titulares */
.titleEntrance {
  color: #e7da25;
}

/* Estilos para las entradas */
.entrance {
  color: #555;
}

/* Estilos para los propietarios */
.owner {
  color: #e41a1a;
}

/* Estilos para las fechas de creación */
.created {
  color: #524848;
}

/* Estilos para el enlace "Leer más" */
.ReadMore {
  color: #573e2d;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

.ReadMore:hover {
  color: #af7634;
}
