@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Estilo general */
cuerpo {
  color: #ce1763;
}

.entrances {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto; /* Centra la tarjeta */
  margin-right: auto; /* Centra la tarjeta */
  margin-top: 50px;
  justify-content: space-between;
  width: calc(55.33% - 20px); /* Ancho de cada tarjeta */
  text-align: justify;
}

.entrance-card {
  width: calc(33.33% - 20px); /* Ancho de cada tarjeta */
  max-width: 300px; /* Ajusta el ancho máximo según tus preferencias */
  height: 300px; /* Alto deseado */
  margin-bottom: 20px; /* Espacio entre cada tarjeta */
  padding: 20px;
  border-radius: 3px; /* Redondea las esquinas del borde */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6); /* Agrega una sombra suave */
  overflow: hidden; /* Evita que el contenido se desborde */
  background-color: rgba(104, 78, 49, 0.5);
  background-image: url(../assets/image/prueba.jpg); /* Ruta de la imagen de encabezado */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el espacio */
  background-position: center; /* Centra la imagen en la tarjeta */
  transform: rotate(
    var(--rotation, 0deg)
  ); /* Aplica una rotación usando una variable CSS */
}

.entrance-card p {
  max-width: 100%; /* Ajusta el tamaño máximo del texto al ancho de su contenedor */
  overflow: hidden; /* Evita que el texto desborde del borde de la tarjeta */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final del texto si se desborda */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.entrance-card::before {
  padding-top: 10px;
  content: url("./assets/image/prueba.jpg");
  display: block; /* Cambia el comportamiento predeterminado de ::before para que se muestre como un bloque */
  width: 100px; /* Ancho de la imagen */
  height: 100px; /* Alto de la imagen */
  margin: 10px; /* Centra la imagen horizontalmente */
}

/* Estilos para las categorías */
.category-entrance {
  font-weight: bold;
  color: #333;
}

/* Estilos para los titulares */
.title-entrance {
  color: #e7da25;
}

/* Estilos para las entradas */
.entrance {
  color: #555;
}

/* Estilos para los propietarios */
.owner {
  color: #e41a1a;
}

/* Estilos para las fechas de creación */
.created {
  color: #2ad32a;
}

/* Estilos para el enlace "Leer más" */
.Read-more {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.Read-more:hover {
  color: #00b32d;
}
