* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-editar-usuario {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  font-family: "Noticia", sans-serif;
}

.form-user-edit {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background-image: url("../assets/image/fondo_Perfil.jpg");
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: "negrita", sans-serif;
  font-size: 20px;
  width: 100%;
  overflow: hidden;
}

.form-new-news label {
  padding: 10px;

  display: block;
  margin-bottom: 8px;
}

.nombre-usuario {
  font-family: "Noticia", sans-serif;
  width: calc(90% - 10px);
  height: 45px;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 7px;
}

.email-usuario {
  font-family: "Noticia", sans-serif;
  width: calc(90% - 10px);
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 8px;
  background-color: transparent;
  display: block;
  text-align: left;
  white-space: normal;
  overflow-wrap: break-word;
  resize: none;
  border: 1px solid;
}

.aficiones {
  font-family: "Noticia", sans-serif;
  height: 60px;
  width: calc(90% - 10px);
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 8px;
  background-color: transparent;
  display: block;
  text-align: left;
  white-space: normal;
  overflow-wrap: break-word;
  resize: none;
  border: 1px solid;
}

.biografia {
  font-family: "Noticia", sans-serif;
  height: 150px;
  width: calc(90% - 10px);
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 8px;
  background-color: transparent;
  display: block;
  text-align: left;
  word-wrap: break-word;
  resize: none;
  border: 1px solid;
}

.bot-contenedorU {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bot-modificar {
  font-family: "Noticia", sans-serif;
  text-align: center;
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 8px;
  background-color: #efeeee;
  color: rgb(47, 22, 9);
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
}

.bot-volverU {
  font-family: "Noticia", sans-serif;
  text-align: center;
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 8px;
  background-color: #efeeee;
  color: rgb(47, 22, 9);
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
}

.bot-modificar:hover,
.bot-volverU:hover {
  border-width: 3px;
  background-color: rgb(245, 231, 212);
}

@media only screen and (max-width: 400px) {
  .form-container {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
