/* Estilo del pie de página */
footer {
  font-family: "Antic", sans-serif;
  margin-top: 256px;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Agregar estilos adicionales según sea necesario */
