/* Estilo del encabezado */
/* header {
  background-color: #c84848;
  padding: 10px;
}

header h1 {
  color: #b22d2d;
} */

/* Agregar estilos adicionales según sea necesario */

/* Estilo para todos los enhlaces en el nav */

nav {
  
  padding: 5px;
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  
}

nav a {
  border: 1px solid #333; /* Borde alrededor de cada NavLink */
  padding: 8px 15px; /* Ajusta el relleno según tus preferencias */
  color: #333;
  text-decoration: none;
  border-radius: 5px; /* Añade esquinas redondeadas */
}

nav a:hover {
    background-color: #f0f0f0;
}

.nav-link {
  color: black;
  text-decoration: none;
  margin-right: 10px;
  transition: color 0.3s;
}

.right-links {
  display: flex;
  align-items: center;
  font-family: 'Noticia', sans-serif;
}
.right-links .nav-link:hover {
  color:rgb(250, 248, 248); 
  background-color: rgb(61, 33, 15);
}
.left-links.nav-link:hover {
  
}

.left-links {
  display: flex;
  align-items: center;
  font-family: 'negrita', sans-serif;
}


.hidden {
  display: none;
}

/* Estilo específico para la barra de búsqueda */
.search-bar {
  display: flex;
  align-items: center;
}

/* Estilo para el ícono de lupa */
.search-bar i {
  margin-right: 5px;
}





