/*Estilos BArra de Navegación */
nav {
  
  padding: 5px;
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  
}
/*Estilos Enlaces de Navegación*/
nav a {
  border: 1px solid #76453b; /* Borde alrededor de cada NavLink */
  padding: 8px 15px; /* Ajusta el relleno según tus preferencias */
  color: black;
  text-decoration: none;
  border-radius: 5px; /* Añade esquinas redondeadas */
}

nav a:hover {
  background-color: #f7e6c4;

}

.search-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-container input {
  flex: 1;
  width: 400px;
  background-color: #f7e6c4;
  padding: 5px;
  margin-right: 5px;
} 

button {
  background-color: #f7e6c4;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
}

.nav-link {
  color: black;
  text-decoration: none;
  margin-right: 10px;
  transition: color 0.3s;
}

.styles.right-links {
  display: flex;
  align-items: center;
  font-family: 'Noticia', sans-serif;
}
.styles.right-links .nav-link:hover {
  color:rgb(250, 248, 248); 
  background-color: rgb(61, 33, 15);
}
.styles.left-links .nav-link:hover {
  color:rgb(250, 248, 248); 
  background-color: rgb(61, 33, 15);
}

.styles.left-links {
  display: flex;
  align-items: center;
  font-family: 'negrita', sans-serif;
}


.hidden {
  display: none;
}

/* Estilo específico para la barra de búsqueda */
.search-bar {
  display: flex;
  align-items: center;
}

/* Estilo para el ícono de lupa */
.search-bar i {
  margin-right: 5px;
}





