@import "./components_css/footer.css";
@import "./components_css/header.css";

@font-face {
  font-family: "Antic";
  src: url("fonts/AnticDidone-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "cursiva";
  src: url("fonts/Noticia-cursiva.ttf") format("truetype");
}
@font-face {
  font-family: "negrita";
  src: url("fonts/Noticia-negrita.ttf") format("truetype");
}
@font-face {
  font-family: "negritaCursiva";
  src: url("fonts/Noticia-negritaCursiva.ttf") format("truetype");
}
@font-face {
  font-family: "Noticia";
  src: url("fonts/Noticia.ttf") format("truetype");
}

/* Resetear estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Establecer fuentes */
h1 {
  margin: 25px;
  font-family: "Antic", sans-serif;
  font-size: 50px;
}

/* Establecer estilos básicos de la página */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(/src/imagen/fondo-papel-grunge-vintage.jpg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  flex-grow: 1;
}

/* .footer {
  margin-top: auto;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
} */
/* header {
  background-color: blue;
} */

/* Estilo de la barra de navegación
nav {
  background-color: #f3fba0;
  padding: 5px;
}

nav a {
  color: #851717;
  text-decoration: none;
  margin-right: 10px;
}

nav a:hover {
  text-decoration: underline;
}

/* Estilo de secciones y contenido 
section {
    margin: 20px 0;
}

h2 {
  color: #333;
}

p {
  color: #555;
}

/* Estilo de formularios 
form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

/* input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
} */

Responsividad @media (max-width: 600px) {
  body {
    margin: 10px;
  }
}
