@import "./styles/Footer.module.css";
@import "./styles/Header.module.css";
@import "./styles/News-entrance.module.css";

@font-face {
  font-family: "Antic";
  src: url("fonts/AnticDidone-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "cursiva";
  src: url("fonts/Noticia-cursiva.ttf") format("truetype");
}

@font-face {
  font-family: "negrita";
  src: url("fonts/Noticia-negrita.ttf") format("truetype");
}

@font-face {
  font-family: "negritaCursiva";
  src: url("fonts/Noticia-negritaCursiva.ttf") format("truetype");
}

@font-face {
  font-family: "Noticia";
  src: url("fonts/Noticia.ttf") format("truetype");
}

/* Resetear estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/src/assets/image/fondo-papel-vintage.jpg);
}

#root {
  flex-grow: 1;
}
